@{
    ViewBag.Title = "臺北市即時交通訊息";
}

<style>
    tbody td {
        word-break: break-all;
        min-width: 90px;
        max-width: 200px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <h1>臺北市即時交通訊息</h1>
    </div>
    <div class="col-xs-12">
        <div id="Alert" class="alert alert-danger" role="alert" style="display:none;"></div>
        <table id="dataTable" class="table table-bordered table-hover">
            <thead class="table">
                <tr>
                    <th>中文訊息</th>
                    <th>英文訊息</th>
                    <th>開始時間</th>
                    <th>結束時間</th>
                    <th>更新時間</th>
                    <th>內容</th>
                    <th>連結網址</th>
                </tr>
            </thead>
            <tbody>
                <tr id="NoData">
                    <td class="text-center" colspan="7">無資料</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

    function ShowAlert(message) {
        var alert = document.getElementById("Alert");
        alert.innerHTML = message;
        alert.style.display = "block";
    }

    function GetDBData() {
        fetch('@Url.Action("GetApiDataLists", "NewsApi")')
            .then(function (response) {
                console.log(87);
                return response.json();
            })            
            .then(function (result) {
                if (result.Success) {

                    if (result.Data.length > 0) {
                        //有資料，隱藏無資料行
                        document.getElementById("NoData").hidden = true;

                        var tbody = document.getElementsByTagName("tbody")[0];
                        for (let i = 0; i < result.Data.length; i++) {
                            var tr = document.createElement("tr");
                            for (let attr of Object.keys(result.Data[i])) {
                                var td = document.createElement("td");
                                if (attr == 'url' && result.Data[i][attr]) {
                                    var url = document.createElement("a");
                                    url.setAttribute('href', result.Data[i][attr]);
                                    url.innerHTML = "點我";
                                    url.classList.add("link-primary");
                                    td.append(url);
                                }
                                else if (attr == 'content' && result.Data[i][attr].length > 40) {
                                    var view = document.createElement("a");
                                    view.innerHTML = "查看更多"
                                    view.classList.add("link-secondary");
                                    view.setAttribute('onclick', "alert('" + result.Data[i][attr] + "')");
                                    td.append(result.Data[i][attr].substring(0, 40) + " .... ");
                                    td.append(view);
                                }
                                else {
                                    td.innerHTML = result.Data[i][attr];
                                }
                                tr.append(td);
                            }
                            tbody.append(tr);
                        }
                    }
                    else {
                        ShowAlert("API存取成功但無資料");
                    }
                }
                else {
                    ShowAlert(result.Message);
                }
            })
            .catch((error) => {
                console.log(`Error: ${error}`);
            })
    }

    window.onload = function () {
        GetDBData();
    }
</script>